# =======================
# Xcode
# =======================
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# =======================
# Swift Package Manager
# =======================
.build/
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
# .swiftpm

# =======================
# CocoaPods
# =======================
Pods/
*.xcworkspace

# =======================
# Carthage
# =======================
Carthage/Build/
# Carthage/Checkouts

# =======================
# Fastlane
# =======================
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# =======================
# Firebase
# =======================
GoogleService-Info.plist
